@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,500;16..144,600;16..144,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  margin: 0;
  font-family: 'Montagu Slab', serif;
  color: rgb(59, 58, 58);
}

.js-song-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px 0 30px 0
}

.song {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 0px 10px 0px;
  border: 2px solid black;
  border-radius: 40px;
  background-color: #f5c2ae;
  word-wrap: break-word;
}

.title, .performer, .description, .releaseYear {
  padding: 0 15px 0 15px;
}

.title {
  font-size: 35px;
  margin: 20px 0 0 0;
}

.performer {
  font-size: 30px;
  margin: 20px 0 0 0;
  font-weight: 600;
}

.description {
  font-size: 20px;
  margin: 20px 0 0 0;
  font-weight: 400;
}

.releaseYear {
  font-size: 18px;
  margin: 20px 0 0 0;
  font-weight: 300;
}

.song__buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding: 0 15px 0 15px;
}

.song__delete {
  padding: 15px 25px;
  width: 100%;
  min-width: 120px;
  border-radius: 10px;
  margin: 20px 0 0 0px;
  border: 3px solid rgb(59, 58, 58);;
  background-color: #fca17d;
  color: rgb(59, 58, 58);
  font-family: cursive;
  font-size: 20px;
  cursor: pointer;
  flex-basis: calc(50% - 10px);
}

.song__delete:hover, .song__add-button:hover, .song__edit:hover, .song__edit-button:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.song__delete:focus {
  background-color: rgb(59, 58, 58);
  color: #fca17d;;
  opacity: 1;
  border: 3px solid #fca17d;
}

.song__edit {
  padding: 15px 25px;
  width: 100%;
  min-width: 120px;
  border-radius: 10px;
  margin: 20px 0 0 0px;
  border: 3px solid rgb(59, 58, 58);;
  background-color: #f3bd6b;
  color: rgb(59, 58, 58);
  font-family: cursive;
  font-size: 20px;
  cursor: pointer;
  flex-basis: calc(50% - 10px);
}

.song__edit:focus {
  background-color: rgb(59, 58, 58);
  color: #f3bd6b;;;
  opacity: 1;
  border: 3px solid #f3bd6b;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 20px;
}

.song-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  width: 100%;
  margin: 0 0 20px 0;
}

.form__header {
  font-family: 'Charmonman', cursive;
  align-self: flex-start;
  font-weight: 900;
  font-size: 45px;
  margin: 10px 0 0 0;
  height: 70px;
}

.song__title, .song__releaseYear, .song__performer {
  font-family: cursive;
  border: 2px solid rgb(59, 58, 58);;
  border-radius: 10px;
  padding: 12px 10px;
  max-width: 400px;
  width: 100%;
  background-color: rgb(245, 242, 242);
  font-size: 18px;
}

.song__description {
  font-family: cursive;
  border: 2px solid rgb(59, 58, 58);;
  border-radius: 20px;
  padding: 35px 10px;
  max-width: 400px;
  width: 100%;
  background-color: rgb(245, 242, 242);
  font-size: 18px;
}

.song__add-button {
  padding: 15px 20px;
  max-width: 100px;
  width: 100%;
  border-radius: 10px;
  margin: 0;
  border: 3px solid rgb(59, 58, 58);;
  background-color: #c1fdaf;
  color: rgb(59, 58, 58);
  font-family: 'Shalimar', cursive;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
}

.song__edit-button {
  padding: 15px 20px;
  max-width: 130px;
  width: 100%;
  border-radius: 10px;
  margin: 0;
  border: 3px solid rgb(59, 58, 58);;
  background-color: #A2A3C7;
  color: rgb(59, 58, 58);
  font-family: 'Shalimar', cursive;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
}

.song__edit-button:focus {
  background-color: rgb(59, 58, 58);
  color: #A2A3C7;
  opacity: 1;
  border: 3px solid #A2A3C7;
}

.song__add-button:focus {
  background-color: rgb(59, 58, 58);
  color: #c1fdaf;
  opacity: 1;
  border: 3px solid #c1fdaf;
}

.images {
  width: 100%;
  height: 300px;
  border-radius: 39px 39px 0 0;
  margin: 0px;
  background-size: contain;
  border: 1px solid rgb(59, 58, 58);
}

.createdAt {
  font-size: 25px;
  margin: 20px 0 0 0;
  padding: 0 15px 0 15px;
  align-self: flex-end;
  font-family: 'Charmonman', cursive;
}

.hidden {
  display: none;
}